export IPV6SUPP=y
export HTTPS=y
export ARM=y
export AUTODICT=y
export BBEXTRAS=y
export USBEXTRAS=y
export EBTABLES=y
export SAMBA3=3.6.x
export MEDIASRV=y
export MODEM=y
export PARENTAL2=y
export ACCEL_PPTPD=y
export PRINTER=y
export STAINFO=y
export WEBDAV=y
export USB=USB
export GRO=y
export APP=network
export PROXYSTA=y
export NOTIFICATION_CENTER=y
export HD_SPINDOWN=y
export SMARTSYNCBASE=y
export SYSSTATE=y
export NATNL_AICLOUD=y
export NATNL_AIHOME=y
export SW_HW_AUTH=y
export BCM4708=y
export DNSMQ=y
export SHP=y
export NVRAM_64K=y
export RTAC68U=y
export BCMWL6=y
export BCMWL6A=y
export EXT4FS=y
export BCM5301X=y
export DISK_MONITOR=y
export BTN_WIFITOG=y
export LOGO_LED=y
export OPTIMIZE_XBOX=y
export ODMPID=y
export LED_BTN=y
export ROG=y
export EMAIL=y
export FRS_FEEDBACK=n
export BCMSMP=y
export XHCI=y
export SSH=y
export NFS=y
export OPENVPN=y
export NEW_USER_LOW_RSSI=y
export AMAS=y
export WL_SCHED_V3=y
export GAME_MODE=y
export TIMEMACHINE=y
export MDNS=y
export VPNC=y
export BRCM_NAND_JFFS2=y
export JFFS2LOG=y
export BCMFA=y
export BWDPI=y
export HSPOT=y
export DUMP_OOPS_MSG=y
export LINUX_MTD=64
export BCM7=n
export TEMPROOTFS=n
export DEBUGFS=y
export SNMPD=y
export TOR=y
export MULTICASTIPTV=y
export QUAGGA=y
export BCM_RECVFILE=y
export LAN50=y
export ATCOVER=y
export GETREALIP=y
export LETSENCRYPT=y
export UTF8_SSID=y
export BCM5301X_TRAFFIC_MONITOR=y
export CLOUDCHECK=n
export REBOOT_SCHEDULE=y
export DPSTA=y
export DWB=y
export ETHOBD=y
export CONNDIAG=y
export FORCE_AUTO_UPGRADE=n
export FORCE_ROAMING=y
export BCN_RPT=y
export BTM_11V=y
export OOKLA=y
export FILEFLEX=y
export TFAT=y
export HFS=tuxera
export NTFS=tuxera
export REPEATER=y
export DUALWAN=y
export UPNPIGD2=n
export NANO=y
export NTPD=y
export NETOOL=y
export TRACEROUTE=n
export FAKEHDR=y
export FORCE_SN=386
export FORCE_EN=40000
export BUILD_NAME=RT-AC68U
export NEWSSID_REV2=y
export UUPLUGIN=y
export AVBLCHAN=y
export ASUSCTRL=y
export AHS=n
export ASD=y
export FRS_LIVE_UPDATE=n
export OPEN_NAT=y
export SW_CTRL_ALLLED=y
export NVRAM_ENCRYPT=y
export JFFS_NVRAM=y
export OCNVC=y
